@import "../../assets/global.scss";

.overlay--profile {
  display: flex;
  justify-content: center;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.7),
      rgba(57, 179, 133, 0.4)
    ),
    url("../..//assets/img/auth-layout.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;

  &__section {
    position: relative;
    margin-block: 2rem;
    padding: 0.5rem 0.5rem 0.7rem;
    width: 55vw;
    // height: calc(100vh - 9rem);
    background-color: rgba(255, 255, 255, 0.75);
    z-index: 1;
    border-radius: 0.3rem;
    box-shadow: 1px 5px 16px 2px rgba(0, 0, 0, 0.1);
  }
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  padding-bottom: 1rem;

  &--message {
    display: flex;
    flex-direction: column;
    align-items: center;

    & h2 {
      position: relative;
      padding: 0.5rem 1rem;
      color: $color-white;

      &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        opacity: 0.7;
        transform: scale(1.07, 1.05) skewX(-15deg);
        background-image: $gradient-primary;
      }
    }

    &--p {
      display: flex;
      align-items: center;
      gap: 0.25rem;
      margin-top: -0.01rem;
    }
  }

  &__info {
    margin-bottom: 0.5rem;

    &__wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      justify-content: center;
      margin-bottom: -0.1rem;
    }

    &__heading {
      color: $color-primary-dark-2;
    }

    &__data {
      position: relative;
      padding: 0.25rem 0.5rem;

      &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        opacity: 0.7;
        transform: scale(1.03, 1.01);
        background-color: $color-primary-light-1;
        background-color: $color-primary;
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

.btn--ordinary {
  background-color: $color-grey-light-1 !important;
}
