@import "../../assets/global.scss";

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 1.2rem;

  &__logo {
    width: 10rem;

    &__img {
      width: 100%;
      cursor: pointer;
    }
  }

  &__list {
    display: flex;
    gap: 0.75rem;
    list-style-type: none;

    &__link {
      a {
        &:link,
        &:visited {
          color: $color-primary-dark-3;
          text-decoration: none;
          display: inline-block;
          border-bottom: inset 1px transparent;
          transition: all 0.3s;
        }
        &:hover,
        &:active {
          cursor: pointer;
          color: $color-primary-dark-2;
          border-bottom: inset 1px currentColor;
          transform: translateY(-0.1rem) scale(1.01);
        }
      }
    }
  }
}
