// COLOR VARIABLES
$color-primary: #55c57a;
$color-primary-light-1: #eef9f2;
$color-primary-light-2: #7ed56f;
$color-primary-dark-1: #28b485;
$color-primary-dark-2: #1c3b23;
$color-primary-dark-3: #132718;

$color-secondary: #306d7e;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #f5f5f5;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-logo: #efe6e6;
$color-white: #fff;
$color-black: #000;

$color-danger: #ff0000;

$gradient-primary: linear-gradient(to top left, #39b385, #9be15d);

// FONT VARIABLES
$font: "Poppins", sans-serif;

:root {
  font-family: $font;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;

  &__nav {
    text-transform: uppercase;
    color: $color-white;
    font-size: 1.4rem;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__btn {
    color: $color-white !important;
    padding: 0.6rem 1.2rem !important;
  }
}

.no__content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  width: 41vw;
  height: 43vh;
  border-radius: 0.25rem;
  margin-bottom: 0;
}
