@import "../../assets/global.scss";

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 0;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.7),
      rgba(57, 179, 133, 0.4)
    ),
    url("../..//assets/img/auth-layout.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

  &__section {
    position: relative;
    display: grid;
    grid-template-columns: 0.45fr 0.7fr;
    gap: 1rem;
    background-color: rgba(255, 255, 255, 0.75);
    z-index: 1;
    border-radius: 0.3rem;
    overflow: hidden;
    box-shadow: 1px 5px 16px 2px rgba(0, 0, 0, 0.1);
  }

  &__image__wrapper {
    width: 100%;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.form__wrapper {
  display: grid;
  place-items: center;
  padding-block: 1.5rem;
  padding-right: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: 80%;
  justify-content: center;
  align-self: flex-start;

  &__signup {
    row-gap: 0.6rem;
  }

  &__login {
    margin-top: -2rem;
  }
}

.btn {
  font-family: inherit !important;

  &__auth {
    color: $color-white !important;
    padding: 0.6rem 1.2rem !important;
    margin-top: 1rem !important;
  }
}

.form__nav {
  &.login {
    align-self: start;
    margin-top: 1rem;
  }

  &__btn {
    font-size: 1.4rem;
    color: $color-grey-dark-3;
    cursor: pointer;
    border: 0;
    outline: none;
    background-color: transparent;

    &--active {
      font-size: 1.5rem;
      font-weight: 600;
      color: $color-primary-dark-3;
    }
  }

  &--span {
    font-size: 1.5rem;
  }
}
